/* remove predefined styles for select fields */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
}

input,textarea,select {
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 3px;
}

.validation-error {
	border-left: 4px solid #f04129;
}

.validation-ok {
	border-left: 4px solid #60ee5f;
}

select.languageSelector {
	max-width: 80px;
}

span.validation-message {
	color: #f04129;
}
