/* remove predefined styles for select fields */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
}
.clear {
	clear: both;
	float: none !important;
}
body,form {
	margin: 0;
}
* {
	font-family: 'Ubuntu', sans-serif;
	font-size: 11pt;
	line-height: 1.2;
}
h1 {
	font-size: 20pt;
}

input,textarea,select {
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-right: 3px;
	padding: 5px;
}
select {
	height: 2em;
}

.validation-error {
	border-left: 4px solid #f04129;
}

.validation-ok {
	border-left: 4px solid #60ee5f;
}

select.languageSelector {
	max-width: 80px;
}

span.validation-message {
	color: #f04129;
}

form {
	margin-left: 120px;
}
.form-header, .form-field, .form-action {
	padding: 10px 5px;
	position: relative;
}
.form-field > label {
	left: -110px;
	margin-top: 6px;
	min-width: 100px;
	position: absolute;
	text-align: right;
}
textarea {
	vertical-align: baseline;
}

.localizable-text-list {
	margin-bottom: 3px;
}
.localizable-text {
	margin-bottom: 3px;
}
.localizable-text > [name] {
	width: 417px;
}
.localizable-text > textarea[name] {
	height: 120px;
	max-width: 417px;
	min-width: 417px;
}
input[name="startDate"] {
	display: block;
}
.explanation {
	color: #929292;
	line-height: 1.5;
}
[name="location.address"] {
	width: 500px;
}
label[for="event-location"] {
	margin-top: 28px;
}
label[for="event-startDate"] {
	margin-top: 50px;
}
