/* remove predefined styles for select fields */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
}
.clear {
	clear: both;
	float: none !important;
}
body,form {
	margin: 0;
}
* {
	font-family: 'Ubuntu', sans-serif;
	font-size: 11pt;
	line-height: 1.2;
}
h1 {
	font-size: 20pt;
}

input,textarea,select {
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 0 3px;
	padding: 5px;
}
select {
	height: 2em;
}

.validation-error {
	border-left: 4px solid #f04129;
}

.validation-ok {
	border-left: 4px solid #60ee5f;
}

select.languageSelector {
	max-width: 80px;
}

span.validation-message {
	color: #f04129;
}

.form-field {
	margin-bottom: 20px;
}
.form-field > * {
	float: left;
}
.form-field > label {
	min-width: 100px;
	padding: 6px;
	text-align: right;
}

.localizable-text-list {
	margin-bottom: 3px;
}
.localizable-text {
	margin-bottom: 3px;
}
.localizable-text > * {
	float: left;
}
