body {
	background-color: #fcfcfc;
	color: #424242;
}
input,textarea,select {
	background-color: #fdfdfd;
	box-shadow: 0 0 5px #e0e0e0;
}
input[type="submit"],
input[type="button"] {
	padding: 5px 10px;
	color: #e8e8e8;
}
input[type="submit"]:hover,
input[type="button"]:hover {
	color: #f0f0f0;
}
input[type="submit"] {
	background-color: #319531;
	text-shadow: 0 0 3px #262;
}
input[type="submit"]:hover {
	background-color: #44bb44;
}
input[type="submit"].waiting {
	background-image: url('/css/green.waiting.svg');
}
input[type="button"] {
	background-color: #646464;
	text-shadow: 0 0 3px #242424;
}
input[type="button"]:hover {
	background-color: #525252;
}
.dateFieldWidget .feedback.validation-error {
	color: #f04129;
}
.imageUploadWidget .image-preview {
	background-color: #aad3df;
}
.imageUploadWidget .image-preview .text {
	color: #f2efe9;
	text-shadow: 0 0 1em #345561;
}
.local-event-view {
	background-color: lightgray;
	box-shadow: 0 0 15px rgba(0,0,0,0.7) inset, 100px 0 100px -50px rgba(0,0,0,0.5) inset, -200px 0 200px -100px rgba(0,0,0,0.5) inset;
	padding: 0.7em;
}
.local-event-view {
	color:  #fcfcfc;
}
.local-event-view > * {
	text-shadow: 0 0 5px rgba(0,0,0,1), 0 0 10px rgba(0,0,0,1);
}
.local-event-view .title {
	font-size: 16pt;
	font-weight: bold;
	line-height: 1;
}
.local-event-view .title,
.local-event-view .description {
	display: block;
	margin-left: 65px;
}
.local-event-view div.startDate {
	background-color: #fcfcfc;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	text-shadow: none;
	height: 50px;
	width: 50px;
	position: absolute;
	overflow: hidden;
}
.local-event-view div.startDate .day {
	font-size: 20pt;
	color: #424242;
	display: block;
	width: 100%;
	text-align: center;
}
.local-event-view div.startDate .monthAndYear {
	font-size: 13px;
	background-color: #2f9ab2;
	display: block;
	width: 100%;
	text-align: center;
	padding: 1px 0;
	position: absolute;
	bottom: 0;
}
.local-event-view div.startTime {
	background-color: rgba(252,252,252,0.65);
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.65);
	text-shadow: none;
	height: 20px;
	width: 50px;
	position: absolute;
	overflow: hidden;
	top: 70px;
}
.local-event-view div.startTime .time {
	color: #424242;
	display: block;
	width: 100%;
	text-align: center;
	overflow: hidden;
	font-size: 15px;
}
